@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;  
  src: url( '../fonts/Plex/Sans/IBMPlexSans-Regular.woff2' ) format( 'woff2' );
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;  
  src: url( '../fonts/Plex/Sans/IBMPlexSans-SemiBold.woff2' ) format( 'woff2' );
}

@font-face {
  font-family: 'Material Symbols Outlined';
  src: url( '../fonts/Material Symbols/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf' );
}
